{% extends "base.html" %}

{% block title %}Ateliers individuels & duo{% endblock %}

{% block content %}

<section class="atelier-prive-section">

    <div class="container">

        <div class="atelier-prive-header">

            <div class="atelier-icon">
                🎨
            </div>

            <h1>Ateliers individuels & duo</h1>
            <p class="atelier-accroche">
    🎨 Offrez-vous un moment créatif unique, entièrement adapté à vos envies.
</p>

            <p class="atelier-sous-titre">
                Offrez-vous un moment créatif entièrement personnalisé.
            </p>

        </div>

        <div class="atelier-contenu">

            <p>
            🌿 Un atelier qui vous ressemble
            Les ateliers Dans tous mes états d'Arts se vivent généralement en petit groupe, dans une ambiance conviviale et bienveillante.
            Mais il est parfois agréable de s'offrir un moment plus intime.
            Que vous souhaitiez vivre cette expérience seul(e), partager un instant privilégié à deux, ou simplement découvrir cet univers à votre rythme, des formules individuelles et duo sont également proposées sur rendez-vous.
            Parce que chaque parcours est unique, nous imaginons ensemble une formule qui vous ressemble.
            💚 Ici, il n'y a pas de bonne façon de créer. Il y a simplement la vôtre.
            ✨ Si cette expérience vous appelle, je serai heureuse d'échanger avec vous et d'imaginer ensemble le moment qui vous correspond le mieux.
            </p>

        </div>

        <div class="atelier-info">

            <h3>✨ Information</h3>

            <p>
                Les ateliers individuels et en duo sont organisés uniquement
                sur réservation. N'hésitez pas à nous contacter afin de définir
                ensemble une date adaptée à vos disponibilités.
            </p>

        </div>

        <div class="atelier-boutons">

    <a href="https://wa.me/+596696366477?text=Bonjour,%0A%0AJe%20souhaiterais%20obtenir%20des%20renseignements%20concernant%20les%20ateliers%20individuels%20ou%20en%20duo.%0A%0AMerci%20d'avance%20pour%20votre%20retour.%0A%0ABelle%20journ%C3%A9e%20!"
       target="_blank"
       class="btn-whatsapp">

        💬 Contactez moi sur WhatsApp

    </a>

</div>

    </div>

</section>

{% endblock %}